<div id="process-status-data" data-status="{{ importProcess.status }}"></div>
<div class="well">
    <strong>{{ 'Current status' | trans }}</strong>: <span class="label {{ labelClass }}">{{ importProcess.status | capitalize | trans }}</span>
</div>
{% if importProcess.importReport %}
    <div class="flash-messages">
        {% for sourceReport in importProcess.importReport.sourceReports %}
            {% if importProcess.status == 'finished' and sourceReport.isSuccess %}
                <div class="alert alert-success">
                    <i class="far fa-check-circle alert__icon"></i>
                    <div class="alert__text">
                        {{ sourceReport.importType ~ ': imported ' ~ sourceReport.importedDataSetCount ~ ' out of ' ~ sourceReport.expectedImportableDataSetCount | trans }}
                    </div>
                </div>
            {% else %}
                {% if importProcess.status == 'failed' %}
                    <div class="alert alert-danger">
                        <i class="fas fa-ban alert__icon"></i>
                        <div class="alert__text">
                            {{ sourceReport.importType ~ ': Import failed' | trans }}
                        </div>
                    </div>
                    {% if sourceReport.messages | length %}
                        {% for error in sourceReport.messages %}
                            <div class="alert alert-danger">
                                <i class="fas fa-ban alert__icon"></i>
                                <div class="alert__text">
                                    <div class="form-error-messag d-block">{{ 'Error message: ' ~ error.message }}</div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
{% endif %}
